/* for Vue-loader */
.vl-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 10;
}

.vl-overlay.vl-full-page {
  z-index: 10;
  position: fixed;
}
